body {
    padding-top: 0px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
}
a, a:hover{
    color: white;
}
.text-container {
    padding: 3rem 1.5rem;
    text-align: center;
}
.text-container-right {
    padding: 3rem 1.5rem;
    text-align: right;
}
.container-blue {
    background-color: #004560;
    color: white;
}
.container-orange {
    background-color: #fdd835;
    color: #333;   
}
.container-grey {
    background-color: #333;
    color: #fff;   
}
.p-orange {
    font-weight: 500;
}
.container-orange-custom1 {
    background-image: url("../images/backdrop2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 500px;
}
/* change the background color */
.navbar-custom {
    font-size: 20px;

}
.navbar-black {
    background: #fff;
}
.navbar-white{
    background: #fff;
    box-shadow: 0px 2px 10px #333333;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
    font-family: ;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #333;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #fdd835;
}
.navbar-nav {
    align-content: center;
    margin-right: 10px;
}
.navbar-toggler-icon {
    background-image: url('../images/nav-toggler-icon-black.svg');
}
.jumbotron {
    min-height: 100vh;
    background-color: #333;
    background-image: url("../images/jumbotron.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    color: white;
}
.jumbotronmini{
    min-height: 60vh;
}
.curlz{
    font-family: "Curlz W01";
    font-size: 140px;
}
@media screen and (max-width: 420px) {
    .jumbotron h1 {
        font-size: 50px;
    }
    .jumbotron h3 {
        font-size: 20px;
    }
}
@media screen and (max-width: 310px) {
    .container h1,
    .container-fluid h1,
    .text-container {
        font-size: 25px;
    }
    .container h3,
    .container-fluid h3 {
        font-size: 15px;
    }
    .container p,
    .container-fluid p {
        font-size: 12px;
    }
}

.navbar {
    margin-bottom: 0px;
    padding: 1rem;
}
.footer {
    background-color: #333333;
}
.footer-container {
    padding: 1.5rem 1.5rem 0 1.5rem;
    color: white;
    font-weight: 300;
    min-height: 100px;  
}
.display-1 {
    padding-top: 10vh;
    color: #fff;
}
.container-custom {
    padding-bottom: 100px;
}
.service-container {
    margin-bottom: 30px;
    margin-top: 30px;
}
.footer-box {
    display: table-cell;
    vertical-align: middle;
}
.push-down {
    position: absolute;
    bottom: 4vh;
    right: 4vh;
    height: auto;
    z-index: 0;
    padding-right: 0;
}
.logo-graphic {
    height: 60vh;
    width: 60vh;
    max-width: 50vw;
    max-height: 50vw;
    visibility: hidden;
}
@media screen and (max-height: 390px) {
    .logo-graphic {
        visibility: hidden;
    }
}


.service-text {
    display: inline-block;
    text-align: center;
    width: inherit;
}

.service-image {
    display: inline-block;
    padding-left: calc(50% - 40px);
    padding-right: calc(50% + 40px);
    height: 70px;
    width: inherit;
}

.img-service-image{
    width: 80px;
    height: 80px;
}


#mc_embed_signup_scroll {
    font-family: Raleway;

}

input {
    font-family: Raleway;
}

input.button {
    background-color: #333 !important;
    cursor: pointer;
}

input.button:hover {
    background-color: #fdd835 !important;
}
.important-info{
    text-align: center;
}
.servicehr {
    margin-top: 50px;
    margin-bottom: 50px;
    border-color: #CCC;

}

.emailform{
    border: 1px solid #ABB0B2;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0px 0.5em;
    font-family: Raleway;
    height: 32px;
    margin: 5px auto 5px auto;
    width: 300px;
    font-size: 15px;
}

.emailformmessage{
    height: 80px;
    resize: none;
}
.button{
    background-color: #333;
    font-size: 13px;
    border: none;
    border-radius: 3px;
    color: white;
    box-sizing: border-box;
    height: 32px;
    padding: 0 18px;
    line-height: 32px;
    display: inline-block;
    margin: 5px 0 0 0;
    transition: all 0.23s ease-in-out 0s;
    -webkit-appearance: button;
    font-size: 13px;
    cursor: pointer;
    width: 150px;
    font-family: Raleway;
}
.button:hover {
    background-color: #fdd835;
    color: #333;
}
.p-links {
    padding: 0;
    margin: 0;
}
.service-row-alternate {
    background-color: #e1e1e1;
}
.service-row-image{
    height: 100%;
    max-height: 300px;
    display: block;
    margin: auto;
    object-fit: contain;
    object-position: ;

}
.service-row .container {
    height: 100%;
}
.service-row-text{
    padding: 3em; 
}
.logo-svg {
    height: 41px;
}
.alternate-hide{
    display: none;
}
@media screen and (max-width: 575px) {
    .service-row-image {
        height: 150px !important;
    }
    .service-row-text {
        padding: 2em !important;
    }
    .alternate-hide{
        display: block;
    }
    .alternate-show {
        display: none;
    }
}
.footer-right{
    text-align: left;
    font-size: 12px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #fdd835; /* Set a background color */
    color: #333; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 7px 18px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-weight: 700;
    font-size: 40px;
    line-height: 1em;
    box-shadow: 1px 1px 10px #333;
}

#myBtn:hover {
    background-color: #333; /* Add a dark-grey background on hover */
    color: #fdd835;
}
.iframe-container{
    height:100vw;
    width:100vw;
    max-height: 600px;
    max-width: 600px;
    padding-bottom: 1.5rem;
    margin-top: -40px;
}
.calendar-container{
    max-height: 700px;
    max-width: 700px;
}
.hidden-md-up{
    display: none;
}
@media screen and (max-width: 575px) {
    .hidden-sm-down{
        display: none;
    }
    .hidden-md-up{
        display: block;
    }
}@media screen and (max-width: 768px) {
    .col-sm-0{
        display: none;
    }
}
#facebook{
    max-height: 50px;
}
.jumbotext h1 {
    text-shadow: 2px 2px 5px #000;
}